@import url('https://fonts.googleapis.com/css?family=Lora:400,700&display=swap');   


/*@media screen and (max-width:800px){
    body{
       display: none !important;
    }   
   }*/
body {
    font-family: 'Lora', sans-serif;
    margin: 0;
    padding: 0;
}
ul{
    padding: 0;
    text-align: left;
}


.first-page{
    background-image: url("../images/background3.jpg");
    background-position: center center;
    bottom: 0px;
    top:0px;
    right: 0px;
    left: 0px;
    position: absolute;
    background-repeat:no-repeat;
    background-attachment: fixed;
    background-size: cover ;
    padding: 1% 10%;
}
.line{
    width: 35px;
    height: 5px;
    background-color: whitesmoke;
    margin: 6px;
    cursor: pointer;
    position: relative;
}

.navlinks{
    width: 10em;
    height: 5em;
    position: relative;
    
}
.navlinks li{
    background-color: black;
    opacity: 0.5;
    margin: 0.5em;
    padding: 0.6em 1em;
    list-style-type: none;
}

.navlinks a{  
    text-decoration: none;
    color: rgb(115, 193, 230);
}
.navlinks a:hover{
    color: whitesmoke;
    opacity: 0.6;
}
.Intro{
    text-align: center;
    color: whitesmoke;
    margin-top: 10%;
    position: relative;
}


.static-helloworld{
    font-size: 400%;
    font-weight: bold;
    top: 11%;  
    color:rgb(115, 193, 230);
    position: relative;
}
.static-name{
    font-size: 500%;
    font-weight: bold;
    position: relative;     
}
.education_sum{
    font-size: 120%;
}
