@import url('https://fonts.googleapis.com/css?family=Lora:400,700&display=swap');   

*{
  scroll-behavior: smooth;
}

body {
    font-family: 'Lora', sans-serif;
    margin: 0;
    padding: 0;
    background-color: black;    
}

#myDiv{
    display: none;
}

#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 40px;
    height: 40px;
    margin: -50px 0 0 -50px;
    border: 10px solid rgb(203, 212, 216);
    border-radius: 50%;
    border-top: 12px solid rgb(115, 193, 230);;
    width: 40px;
    height: 40px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }
  
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
    
  }



ul{
    padding: 0;
    text-align: left;
    list-style-type: none;

}
.first-page{
    min-height: 100vh;
    width: auto;
    background-image: url("../images/background3.jpg");
    background-position: center center;
    bottom: 0px;
    top:0px;
    right: 0px;
    left: 0px;
    position: absolute;
    background-repeat:no-repeat;
    background-attachment: scroll;
    background-size: cover ;
    padding: 1% 5vw;
}
.menu-button{
    cursor: pointer;
}

.line{
    width: 2em;
    height: 0.3em;
    background-color: whitesmoke;
    margin: 0.4em;
    position: relative;
    z-index: 2;
    
}


.close {
    margin-top:0;
    margin-left: 2rem;
    position: relative;
    
    display: none;  
}
  .close:before, .close:after {
    position: absolute;
    content: ' ';
    height: 38px;
    width: 6px;
    background-color: whitesmoke;
   
  }
  .close :hover {
    opacity: 1;
  }
  .close::after{
      transform: rotate(45deg);
  }
  .close::before{
    transform: rotate(-45deg);
}
#navlinks{
    width: 8em;
    height: 2em;
    top:2em;
    position: relative;
    display: none;    
}
#navlinks li{
    background-color: black;
    top: 1em;
    opacity: 0.5;
    padding: 0.6em 0.5em;
    position: relative;
    list-style-type: none;
}

#navlinks a{  
    text-decoration: none;
    color: rgb(115, 193, 230);
}
#navlinks a:hover{
    color: whitesmoke;
    opacity: 0.6;
}

#navlinks a:visited{
    color:whitesmoke;
    color: rgb(115, 193, 230);  
}
.Intro{
    position: relative;
    text-align: center;
    color: whitesmoke;
    top: 20%;
    display: block;
    
}


.static-helloworld{
    font-size: 150%;
    font-weight: bold;
    color:rgb(115, 193, 230);
    position: relative;
}
.static-name{
    font-size: 500%;
    font-weight: bold;
    position: relative;   
    display: block;  
}
.education_sum{
    font-size: 120%;
    position: relative;    
    
}
@media only screen and (max-width:600px){
  .static-name{
    font-size: 10vw;
  }
  .education_sum .removeMe{
    display: none;
  }
  .addNewLine::before{
    content: "\A";
    white-space: pre;
  }
}

.socialMedia{
    position: relative;
    display: table;
    top: 1em;
    font-size: 1.5vw;
    margin: 0 auto;
     
}
.socialMedia i{
    position: absolute;
    vertical-align: middle; 
    cursor: pointer;
    color: white;
}
.socialMedia ul{
    margin: 10em 0em; 
    position: relative;
    display: inline;
}
.socialMedia li{
    display: inline;
    position: relative;
    margin: 0em 2em;
    
}
.socialMedia i:hover{
    color:rgb(115, 193, 230);
}


.moreAboutMe a {
    position: relative;
    margin-top:10%;
    display: inline-block;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    color: #fff;
    font : normal 400 20px/1 'Josefin Sans', sans-serif;
    letter-spacing: .1em;
    text-decoration: none;
    transition: opacity .3s;
  }
  .moreAboutMe a:hover {
    opacity: .5;
    cursor: pointer;
  }
  
#scrollDown a {
    padding-top: 70px;
  }
  #scrollDown a span {
    position: absolute;
    top: 0;
    left: 50%;
    width: 24px;
    height: 24px;
    margin-left: -12px;
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-animation: sdb05 1.5s infinite;
    animation: sdb05 1.5s infinite;
    box-sizing: border-box;
  }
  @-webkit-keyframes sdb05 {
    0% {
      -webkit-transform: rotate(-45deg) translate(0, 0);
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      -webkit-transform: rotate(-45deg) translate(-20px, 20px);
      opacity: 0;
    }
  }
  @keyframes sdb05 {
    0% {
      transform: rotate(-45deg) translate(0, 0);
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      transform: rotate(-45deg) translate(-20px, 20px);
      opacity: 0;
    }
  }
