@import url('https://fonts.googleapis.com/css?family=Lora:400,700&display=swap');   

.secondPage{
    top:100%;
    position: absolute;
    background-color: azure;
    height: 100vh;
    width: auto;
    padding: 1% 13%;
}
.aboutHeader h4{
    text-align: center;
    color: rgb(115, 193, 230);
    margin-bottom: 0;
    font-size: 150%;
}
.aboutHeader h3{
    color: black;
    margin-top: 0;
    display: block;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    
}
.imageMine-intro{
    display: flexbox;
}
.imageMine-intro img{
    width: 8%;
    margin-top:3%;
    border-radius: 50%;
    order: 1;
    flex: 10%;
}
.imageMine-intro p{
    color: #888888;
    text-align: left;
    font-size: 1.2rem;
    line-height: 2rem;
    margin-left: 10%;
    order: 2;
    flex: 90%;
}

